openapi: 3.1.0
info:
  title: Camaleonic Connect API
  version: '1.0.0'
  description: |
    Public API for connecting end-user social accounts and reading
    normalized profile / audience / content / engagement data across
    Instagram, Facebook, TikTok, Threads, YouTube, and Twitch.

    ## Quick start (5 minutes)

    **1. Get an API key.** Your Camaleonic operator issues you a
    `cmlk_live_*` (production) or `cmlk_test_*` (sandbox — no webhooks
    fired, accounts marked `is_test=true`) bearer key from the admin
    dashboard. Keep it server-side: it must never reach a browser.

    **2. Mint a short-lived SDK token per end-user.** This is the token
    you hand to the JS widget — it binds the popup to one of your users
    and expires in 30 minutes max.

    ```bash
    # curl
    curl -X POST https://smconnector.camaleonicanalytics.com/api/poc/v1/sdk-tokens \
      -H "Authorization: Bearer cmlk_live_xxxxx" \
      -H "Content-Type: application/json" \
      -d '{"user_id":"<your-end-user-id>","ttl":1800}'
    ```

    ```js
    // Node
    const res = await fetch('https://smconnector.camaleonicanalytics.com/api/poc/v1/sdk-tokens', {
      method: 'POST',
      headers: {
        'Authorization': `Bearer ${process.env.CAMALEONIC_API_KEY}`,
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ user_id: 'acme-user-42', ttl: 1800 }),
    });
    const { sdk_token } = await res.json();
    ```

    ```python
    # Python
    import requests
    r = requests.post(
        'https://smconnector.camaleonicanalytics.com/api/poc/v1/sdk-tokens',
        headers={'Authorization': f'Bearer {API_KEY}'},
        json={'user_id': 'acme-user-42', 'ttl': 1800},
    )
    sdk_token = r.json()['sdk_token']
    ```

    **3. Embed the widget.** Drop the script tag and call
    `init({sdkToken,workspace}).open(platform)` from a button click.

    ```html
    <script src="https://smconnector.camaleonicanalytics.com/connect-sdk.js"></script>
    <button id="btn">Connect Instagram</button>
    <script>
      const handle = CamaleonicConnect.init({
        sdkToken: '<jwt from step 2>',
        workspace: '<your workspace slug>',
        onSuccess: ({accountIds, platform}) => {
          console.log('connected', platform, accountIds);
        },
        onError: (err) => console.warn(err),
        onExit:  ()  => console.log('user closed'),
      });
      document.getElementById('btn').onclick = () => handle.open('facebook');
    </script>
    ```

    **4. Pull normalized data.** Once the popup closes with `onSuccess`,
    read the account from the REST API:

    ```bash
    curl https://smconnector.camaleonicanalytics.com/api/poc/v1/accounts/<id>/identity \
      -H "Authorization: Bearer cmlk_live_xxxxx"
    ```

    Same shape across every platform (`username`, `full_name`,
    `followers_count`, `profile_image_url`, ...). Platform-specific
    fields live under `extra`.

    **5. Register a webhook** so you get notified of new connections
    without polling:

    ```bash
    curl -X POST https://smconnector.camaleonicanalytics.com/api/poc/v1/webhook-endpoints \
      -H "Authorization: Bearer cmlk_live_xxxxx" \
      -H "Content-Type: application/json" \
      -d '{"url":"https://api.your-app.com/hooks/camaleonic",
           "events":["account.connected","token.expired"]}'
    ```

    The response includes a `secret` (shown ONCE) — store it. Verify
    every delivery with HMAC-SHA256 over `<unix_ts>.<raw_body>` against
    the `X-Camaleonic-Signature` header.

    ## Auth

    `Authorization: Bearer cmlk_(live|test)_*`. Issue one in the admin
    dashboard or — until the dashboard ships — via the
    `tools/issue-prod-key.sh` operator script.

    ## Caching

    `GET /v1/accounts/{id}/<product>` responses are cached for 5 minutes
    per workspace + path + query. Add `?live=true` to bypass and force a
    fresh platform fetch. Every response includes
    `X-Cache: HIT|MISS|BYPASS` and (on hits) `X-Cached-At`.

    ## Rate limits

    120 requests/minute per workspace on the `standard` plan tier. Every
    response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and
    `X-RateLimit-Reset` (unix seconds). 429s include `Retry-After`.

    Cross-tenant reads return `404 Not Found` (not 403) to keep the
    existence of accounts in other workspaces opaque.

servers:
  - url: https://smconnector.camaleonicanalytics.com/api/poc
    description: production
  - url: http://localhost:3000
    description: local dev

security:
  - bearerApiKey: []

tags:
  - name: SDK Tokens
    description: Mint short-lived JWTs the browser SDK uses to scope a connect popup.
  - name: Accounts
    description: Manage and read normalized data for connected accounts.
  - name: Webhooks
    description: Subscribe to lifecycle events.

paths:
  /v1/sdk-tokens:
    post:
      tags: [SDK Tokens]
      summary: Mint an SDK token for the browser widget
      description: |
        Returns an HS256 JWT (TTL ≤ 30 min) signed with the workspace's
        HMAC secret. Hand it to `CamaleonicConnect.init({ sdkToken })`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  description: Your id for the end-user inside your product.
                ttl:
                  type: integer
                  minimum: 60
                  maximum: 1800
                  default: 1800
                allowed_platforms:
                  type: array
                  items: { type: string, enum: [instagram, facebook, tiktok, threads, youtube, twitch] }
      responses:
        '200':
          description: Minted
          content:
            application/json:
              schema:
                type: object
                properties:
                  sdk_token: { type: string }
                  expires_at: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/accounts:
    get:
      tags: [Accounts]
      summary: List accounts in the workspace
      parameters:
        - in: query
          name: platform
          schema: { type: string }
        - in: query
          name: end_user_id
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AccountSummary' }
                  meta:
                    type: object
                    properties:
                      count: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/accounts/{id}:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
    get:
      tags: [Accounts]
      summary: Fetch one account's metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Accounts]
      summary: Disconnect an account
      description: |
        Marks the account as `disconnected`, stamps `disconnected_at`, and
        removes the stored OAuth tokens. Idempotent — repeated calls on a
        disconnected account return the same payload. Returns 404 when the
        account belongs to a different workspace.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [id, status, disconnected_at]
                properties:
                  id: { type: string }
                  status: { type: string, example: disconnected }
                  disconnected_at: { type: string, format: date-time }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/accounts/{id}/identity:
    parameters: [{ $ref: '#/components/parameters/AccountId' }]
    get:
      tags: [Accounts]
      summary: Live-fetch normalized profile data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Identity' }

  /v1/accounts/{id}/audience:
    parameters: [{ $ref: '#/components/parameters/AccountId' }]
    get:
      tags: [Accounts]
      summary: Audience distributions (country, age, gender, city)
      responses:
        '200': { $ref: '#/components/responses/PlatformPayload' }

  /v1/accounts/{id}/content:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      - in: query
        name: since
        schema: { type: string, format: date-time }
    get:
      tags: [Accounts]
      summary: Recent content items (posts, videos, clips)
      responses:
        '200': { $ref: '#/components/responses/PlatformPayloadList' }

  /v1/accounts/{id}/engagement:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      - in: query
        name: since
        schema: { type: string, format: date-time }
    get:
      tags: [Accounts]
      summary: Aggregate engagement over recent content
      description: |
        Computes a normalized engagement snapshot from the account's most
        recent posts: totals (likes, comments, shares, saves, views, reach),
        averages per post, and an engagement-rate fraction (engagements ÷
        reach). Same data source as `/content` — different shape.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Engagement' }

  /v1/accounts/{id}/engagement-deep:
    parameters: [{ $ref: '#/components/parameters/AccountId' }]
    get:
      tags: [Accounts]
      summary: Per-content windowed analytics (YouTube only today)
      responses:
        '200': { $ref: '#/components/responses/PlatformPayload' }

  /v1/accounts/{id}/ratings:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    get:
      tags: [Accounts]
      summary: Page ratings & reviews (Facebook only)
      description: |
        Returns ratings and recommendation reviews most recently captured by
        the worker for this account. Currently Facebook-only — 400 on other
        platforms. Includes average rating across the returned sample.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ratings' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/accounts/{id}/stories:
    parameters: [{ $ref: '#/components/parameters/AccountId' }]
    get:
      tags: [Accounts]
      summary: 24h stories (IG, FB)
      responses:
        '200': { $ref: '#/components/responses/PlatformPayloadList' }

  /v1/accounts/{id}/mentions:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    get:
      tags: [Accounts]
      summary: Posts mentioning the account
      responses:
        '200': { $ref: '#/components/responses/PlatformPayloadList' }

  /v1/accounts/{id}/comments:
    parameters:
      - { $ref: '#/components/parameters/AccountId' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    get:
      tags: [Accounts]
      summary: Comments on the account's recent content
      responses:
        '200': { $ref: '#/components/responses/PlatformPayloadList' }

  /v1/accounts/{id}/ads:
    parameters: [{ $ref: '#/components/parameters/AccountId' }]
    get:
      tags: [Accounts]
      summary: Advertising snapshot (FB Ads, Google Ads)
      responses:
        '200': { $ref: '#/components/responses/PlatformPayload' }

  /v1/webhook-endpoints:
    get:
      tags: [Webhooks]
      summary: List webhook endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/WebhookEndpoint' }
    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      description: |
        The signing secret is returned ONCE in the create response and
        never again. Save it somewhere safe — you'll need it to verify
        the `X-Camaleonic-Signature` header on incoming deliveries:

            sig := HMAC_SHA256(secret, "<unix-ts>." + <raw-body>)
            header := "t=<unix-ts>,v1=<hex-sig>"

        Subscribed event types:
        - `account.connected`
        - `account.disconnected`
        - `account.refreshed`
        - `token.refresh_failed`
        - `token.expired`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  items:
                    type: string
                    enum: [account.connected, account.disconnected, account.refreshed, token.refresh_failed, token.expired]
                description: { type: string, maxLength: 256 }
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/WebhookEndpoint'
                  - type: object
                    properties:
                      secret:
                        type: string
                        description: Plaintext signing secret. Stored only as hash on our side.

  /v1/webhook-endpoints/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    delete:
      tags: [Webhooks]
      summary: Remove a webhook endpoint
      responses:
        '204':
          description: Removed (idempotent — also returns 204 if the id never existed in this workspace).

components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: cmlk_(live|test)_*

  parameters:
    AccountId:
      in: path
      name: id
      required: true
      schema: { type: string, description: "Account id (BigInt as string)" }

  responses:
    Unauthorized:
      description: Missing / invalid / revoked API key
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Account not found in this workspace
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid payload
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PlatformPayload:
      description: Normalized platform-specific payload
      content:
        application/json:
          schema:
            type: object
            properties:
              platform: { type: string }
              data: { type: object }
    PlatformPayloadList:
      description: List of normalized platform-specific payloads
      content:
        application/json:
          schema:
            type: object
            properties:
              platform: { type: string }
              data:
                type: array
                items: { type: object }

  schemas:
    Error:
      type: object
      properties:
        message: { type: string }
        error: { type: string }
        statusCode: { type: integer }

    AccountSummary:
      type: object
      properties:
        id: { type: string }
        platform: { type: string, enum: [instagram, facebook, tiktok, threads, youtube, twitch] }
        canonical_user_id: { type: string }
        handle: { type: string, nullable: true }
        display_name: { type: string, nullable: true }
        status: { type: string }
        end_user_id: { type: string, nullable: true }
        connected_at: { type: string, format: date-time }
        disconnected_at: { type: string, format: date-time, nullable: true }

    Identity:
      type: object
      description: Normalized profile shape used across every platform.
      properties:
        platform: { type: string }
        platform_user_id: { type: string }
        username: { type: string, nullable: true }
        full_name: { type: string, nullable: true }
        biography: { type: string, nullable: true }
        profile_image_url: { type: string, nullable: true }
        profile_url: { type: string, nullable: true }
        followers_count: { type: integer, nullable: true }
        following_count: { type: integer, nullable: true }
        posts_count: { type: integer, nullable: true }
        is_verified: { type: boolean, nullable: true }
        account_type: { type: string, nullable: true }
        extra:
          type: object
          nullable: true
          description: |
            Platform-specific fields not represented in the cross-platform
            core (e.g. Twitch `subscribersByTier`, YouTube `topicCategories`).
        fetched_at: { type: string, format: date-time }

    Engagement:
      type: object
      description: |
        Aggregate engagement snapshot computed from the most recent N posts.
        `engagement_rate` is `(likes + comments + shares) / reach` and is
        null when reach isn't available for the platform.
      properties:
        platform: { type: string }
        window:
          type: object
          properties:
            since: { type: string, format: date-time, nullable: true }
            until: { type: string, format: date-time }
            sample_size: { type: integer }
        totals:
          type: object
          properties:
            likes: { type: integer }
            comments: { type: integer }
            shares: { type: integer }
            saves: { type: integer }
            views: { type: integer }
            reach: { type: integer }
        averages_per_post:
          type: object
          properties:
            likes: { type: number, nullable: true }
            comments: { type: number, nullable: true }
            shares: { type: number, nullable: true }
            views: { type: number, nullable: true }
        engagement_rate: { type: number, nullable: true }

    Ratings:
      type: object
      description: |
        Facebook Page ratings + recommendation reviews captured by the
        sync worker. Read-only — the worker writes on its schedule; consumers
        receive the latest stored snapshot.
      properties:
        platform: { type: string, example: facebook }
        sample_size: { type: integer }
        average_rating: { type: number, nullable: true }
        captured_at: { type: string, format: date-time, nullable: true }
        data:
          type: array
          items:
            type: object
            properties:
              platform_review_id: { type: string }
              rating: { type: number, nullable: true }
              recommendation_type:
                type: string
                nullable: true
                example: positive
              review_text: { type: string, nullable: true }
              reviewer_name: { type: string, nullable: true }
              permalink_url: { type: string, nullable: true }
              created_time: { type: string, format: date-time, nullable: true }

    WebhookEndpoint:
      type: object
      properties:
        id: { type: string }
        url: { type: string, format: uri }
        events:
          type: array
          items: { type: string }
        active: { type: boolean }
        description: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
